<ul *appTrigonometry="30; sin as s; cos as c; tan as t">
  <li>sin(30°): {{ s }}</li>
  <li>cos(30°): {{ c }}</li>
  <li>tan(30°): {{ t }}</li>
</ul>


<ul *appTrigonometry="60; sin as s; cos as c; tan as t">
  <li>sin(60°): {{ s }}</li>
  <li>cos(60°): {{ c }}</li>
  <li>tan(60°): {{ t }}</li>
</ul>

<ul *appTrigonometry="90; sin as s; cos as c; tan as t">
  <li>sin(90°): {{ s }}</li>
  <li>cos(90°): {{ c }}</li>
  <li>tan(90°): {{ t }}</li>
</ul>

<ul *appTrigonometry="45; sin as s; cos as c; tan as t">
  <li>sin(45°): {{ s }}</li>
  <li>cos(45°): {{ c }}</li>
  <li>tan(45°): {{ t }}</li>
</ul>